{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .vertical--full-height {
            height: 100%;
        }
    </style>

    <!-- The compiled CSS file -->
    <link rel="stylesheet" href="/static/css/production.css">

    <!-- Web fonts -->
    <link href="/static/css/font1.css" rel="stylesheet">

    <script src="/static/js/echarts.js"></script>
</head>
<!-- The compiled JavaScript file -->
<script src="/static/js/production.js"></script>

<header class="fixed">
    <nav class="align--center pt1 pb1 pl1 pr1" style="background-color: rgb(188, 205, 222);">
        <div class="pb1"></div>
{#            svg from : https://www.iconfont.cn/#}
        <a class="link" href="/">
            <img class="icon" src="/static/img/icon/home.svg" >
            <h6 class="text--darkest-gray" style="font-size:12px">ProShare</h6>
        </a>
        <div class="border--top mb1"></div>
        <a class="link " href="/problem">
            <img class="icon" src="/static/img/icon/search_file.svg" >
            <h6 class="text--darkest-gray" style="font-size:12px;">Search</h6>
        </a>
        <a class="link " href="/problem/set">
            <img class="icon" src="/static/img/icon/zip.svg" >
            <h6 class="text--darkest-gray" style="font-size:12px;">Sets</h6>
        </a>
        <a class="link" href="/problem/create">
            <img class="icon" src="/static/img/icon/add_file.svg" >
            <h6 class="text--darkest-gray" style="font-size:12px;">Create</h6>
        </a>
        <div class="border--top mb1"></div>
        <a class="link" href="/account/group/search">
            <img class="icon" src="/static/img/icon/group.svg" >
            <h6 class="text--darkest-gray">Group</h6>
        </a>
        <a class="link" href="/account/">
            <img class="icon" src="/static/img/icon/setting.svg" >
            <h6 class="text--darkest-gray">Account</h6>
        </a>
        <div class="border--top mb1"></div>
        <div class="pt1 pb2">
            {% if user.is_authenticated %}
                <p class="text--darkest-gray"style="font-weight:800">Hello,</p>
                <a class="italic text--darkest-gray link"style="font-weight:800" href="/account">{{ user.username }}</a>
            {% else %}
                <a class="text--darkest-gray link"style="font-weight:800" href="/account/login">Login</a>
            {% endif %}
        </div>
        <div class="border--top mb1"></div>
        <a class="link" href="/admin">
            <img class="icon" src="/static/img/icon/wrench.svg" >
            <h6 class="text--darkest-gray">Admin</h6>
        </a>
        <div class="pt4 pb4"></div>
        <div class="pt4 pb4"></div>
        <div class="pt4 pb4"></div>
        <div class="pt4 pb4"></div>
        <div class="pt4 pb4"></div>
        <div class="pt4 pb4"></div>
        <div class="pt4 pb4"></div>
        <div class="pt4 pb4"></div>
    </nav>
</header>

<body class="has-animations">

    <div class="container pt3 pb1">

        <div class="grid-row">
            <div class="grid-column mt3 mb1 span-8">
                <div class="pb2">
                    <h2 class="border--bottom pb1">
                        {{ username }}'s Home
                    </h2>
                    <p class="pt1">{{ quote }}</p>
                    <p class="pt1">E-MAIL: {{ email }}</p>
                    <p class="pt1">TEL: {{ phone }}</p>
                    <br>
                    <p><a class="btn" style="color:black;" href="./edit">Edit Profile</a></p>
                </div>
                
                <div class="border--top pt1"></div>
                <div id="chart1" style="width: 600px;height:300px;"></div>
                <div class="border--top pt1"></div>
                <div id="chart2" style="width: 600px;height:400px;"></div>

                <h3 class="bold text-light-gray pt1 border--top">Wrong Diary:</h3>
                <form action="" method="POST">
                <div class="grid-row pt1">
                    <div class="grid-column">
                        Choose a preferred tag:
                    </div>
                    <div class="grid-column">
                        <div class="select mb1">
                            <select name="tag">
                                <option selected="selected" value="all">All tags</option>
                                {% for tag in tag_list %}
                                <option value="{{ tag }}">{{ tag }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="grid-row pt1">
                    <div class="grid-column">
                        How many questions:
                    </div>
                    <div class="grid-column">
                        <div class="select mb1">
                            <select name="question_num">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option selected="selected" value="5">5</option>
                                <option value="7">7</option>
                                <option value="11">11</option>
                                <option value="13">13</option>
                                <option value="17">17</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="grid-row pt1 pb1">
                    {% comment %} a button to generate recommended problem list {% endcomment %}
                    <button type="submit" name="generate" value="generate" class="btn btn--default pb1">
                        Generate
                    </button>
                </div>
                </form>
                {% if problem_info_list %}
                <table class="container pt2 pb1">
                    <tr><td>
                    <div class="grid-row border--bottom">
                        <h4 class="grid-column span-1 bold text--darkest-gray">ID</h4>
                        <h4 class="grid-column span-3 bold text--darkest-gray">Name</h4>
                        <h4 class="grid-column span-2 bold text--darkest-gray">Difficulty</h4>
                        <h4 class="grid-column span-3 bold text--darkest-gray">Tags</h4>
                    </div></td>
                    </tr>
                    {% for problem_info in problem_info_list %}
                    <tr><td><div class="grid-row border--bottom pt1 pb1">
                        <div class="grid-column span-1 bold text--darkest-gray">{{ problem_info.ID }}</div>
                        <a class="grid-column span-3 bold text--darkest-gray link"  href="/problem/{{ problem_info.ID }}">{{ problem_info.Name }}</a>
                        <div class="grid-column span-2 bold text--darkest-gray">{{ problem_info.Diff }}</div>
                        <a class="grid-column span-1 bold text--darkest-gray link" href="">{{ problem_info.Tag1 }}</a>
                        <a class="grid-column span-1 bold text--darkest-gray link" href="">{{ problem_info.Tag2 }}</a>
                        <a class="grid-column span-1 bold text--darkest-gray link" href="">{{ problem_info.Tag3 }}</a>
                    </div></td></tr>
                    {% endfor %}
                </table>
                {% else %}
                <p class="italic text--gray">You have no need to practice any wrong questions on chosen tag! Congratulations!</p>
                {% endif %}
            </div>
            <div class="grid-column mt3 mb2 span-4">
                <div class="pb2 mb2">
                    <h2 class="border--bottom pb1">Usage Data</h2>
                    <p>Total Answers: {{ total_answered }}</p>
                    <p>Correct Rate: {{ wrong_rate }}%</p>
                    <br>
                    <p class="bold">Trophies:</p>
                    <p class="italic text--gray">You have no trophies yet.</p>
                    <br>
                    <p><a class="btn" style="color:black;" href="./punlum">Punlum</a></p>
                    <br>
                    <p><a style="color:rgb(28, 28, 146);text-decoration:none;font-weight: 800;" href="./change_password/">Change Password</a></p>
                    <p><a style="color:rgb(28, 28, 146);text-decoration:none;font-weight: 800;" href="./logout/" name="logout">Logout</a></p>
                </div>
                <div class="mb2">
                    <h3 class="bold text-light-gray pt1 border--top">Groups:</h3>
                    <form action="" method="POST">
                    {% comment %} check if there's no groups {% endcomment %}
                    {% if groups %}
                    {% for group in groups %}
                        <div class="grid-row pt1">
                            <a class="italic text--gray grid-column span-2 link" href="/account/group/{{ group.name }}">{{ group }}</a>
                            <button type="submit" name="exit" value="{{ group.name }}" class="btn btn--default btn--sm grid-column span-1">
                                Quit
                            </button>
                        </div>
                    {% endfor %}
                    {% else %}
                        <p class="italic text--gray">You have not joined any groups yet.</p>
                    {% endif %}
                    </form>
                </div>
            </div>
        </div>
        {% comment %} <div class="grid-row">
            <div class="grid-column mt3 mb2">
                
            </div>
            <div class="grid-column mt3 mb2">
                <div class="border--bottom pb2 mb2">
                    <h2>Usage Data</h2>
                    <p>Total Asks: 0</p>
                    <p>Total Answers: 0</p>
                    <p>Correct Rate: 0%</p>
                </div>
                <p class="bold">Trophies:</p>
                <p class="italic text--gray">You have no trophies yet.</p>
            </div>
        </div> {% endcomment %}
    </div>
    <script type="text/javascript">
        var chartDom1 = document.getElementById('chart1');
        var myChart1 = echarts.init(chartDom1);
        var option1;

        option1 = {
        title: {
            text: 'Problem Solve Trend'
        },
        xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
            data: [150, 230, 224, 218, 135, 147, 260],
            type: 'line'
            }
        ]
        };

        myChart1.setOption(option1);


        var chartDom = document.getElementById('chart2');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
        title: {
            text: 'Ability Diagram'
        },
        legend: {
            data: ['Yours', 'Average'],
            textStyle: {
                color: '#000000'
            }
        },
        radar: {
            // shape: 'circle',basic knowledge, logical thinking, problem skills, detailed analysis, summarization, comprehensive ability
            indicator: [
            { name: 'basic knowledge', max: 1 },
            { name: 'logical thinking', max: 1 },
            { name: 'problem skills', max: 1 },
            { name: 'detailed analysis', max: 1 },
            { name: 'summarization', max: 1 },
            { name: 'comprehensive ability', max: 1 }
            ]
        },
        series: [
            {
            name: 'Budget vs spending',
            type: 'radar',
            data: [
                {
                value: [
                {% for val in user_ability %}
                val,
                {% endfor %}
                ],
                name: 'Yours'
                },
                {
                value: [
                {% for val in average_ability %}
                val,
                {% endfor %}
                ],
                name: 'Average'
                }
            ]
            }
        ],
        color: [
            "#66ccff",
            "#91cc75"
        ]
        };

        myChart.setOption(option);
    </script>
</body>
</html>


