{% load static %}
<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Main Page</title>
        <base href="/">
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="/static/css/production.css">

        <!-- Web fonts -->
        <link href="/static/css/font1.css" rel="stylesheet">

    </head>

    <header class="fixed">
        <nav class="align--center pt1 pb1 pl1 pr1" style="background-color: rgb(188, 205, 222);">
            <div class="pb1"></div>
    {#            svg from : https://www.iconfont.cn/#}
            <a class="link" href="/">
                <img class="icon" src="/static/img/icon/home.svg" >
                <h6 class="text--darkest-gray" style="font-size:12px">ProShare</h6>
            </a>
            <div class="border--top mb1"></div>
            <a class="link " href="/problem">
                <img class="icon" src="/static/img/icon/search_file.svg" >
                <h6 class="text--darkest-gray" style="font-size:12px;">Search</h6>
            </a>
            <a class="link" href="/problem/create">
                <img class="icon" src="/static/img/icon/add_file.svg" >
                <h6 class="text--darkest-gray" style="font-size:12px;">Create</h6>
            </a>
            <div class="border--top mb1"></div>
            <a class="link" href="/account/group/search">
                <img class="icon" src="/static/img/icon/group.svg" >
                <h6 class="text--darkest-gray">Group</h6>
            </a>
            <a class="link" href="/account/">
                <img class="icon" src="/static/img/icon/setting.svg" >
                <h6 class="text--darkest-gray">Account</h6>
            </a>
            <div class="border--top mb1"></div>
            <div class="pt1 pb2">
                {% if user.is_authenticated %}
                    <p class="text--darkest-gray"style="font-weight:800">Hello,</p>
                    <a class="italic text--darkest-gray link"style="font-weight:800" href="/account">{{ user.username }}</a>
                {% else %}
                    <a class="text--darkest-gray link"style="font-weight:800" href="/account/login">Login</a>
                {% endif %}
            </div>
            <div class="border--top mb1"></div>
            <a class="link" href="/admin">
                <img class="icon" src="/static/img/icon/wrench.svg" >
                <h6 class="text--darkest-gray">Admin</h6>
            </a>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
        </nav>
    </header>
    <body class="has-animations">

        <div class="container--lg pt3 pb1">
            <h2 class="text--gray pb1">ProShare</h2>
        </div>

        {% if user.is_authenticated %}
        <div class="pb4 pt4" style="text-align: center;">
            <a href="/problem" class="link"><img src="/static/img/button_find_problem.svg" ></a>
            &ensp;
            <a href="/account/group/search" class="link"><img src="/static/img/button_group.svg" ></a>
            <a><img src="/static/img/main_or.svg" ></a>
            <a href="/problem/create" class="link"><img src="/static/img/button_create_yours.svg" ></a>
        </div>
        {% else %}
        <div class="pb4 pt4" style="text-align: center;">
            <a href="/problem" class="link"><img src="/static/img/button_find_problem.svg" ></a>
            &ensp;
            <a href="/account/login" class="link"><img src="/static/img/button_group.svg" ></a>
            <a><img src="/static/img/main_or.svg" ></a>
            <a href="/account/login" class="link"><img src="/static/img/button_create_yours.svg" ></a>
        </div>
        {% endif %}

        <div class="container--lg pt4 pb1">

            <div class="grid-row grid-row--top">
                <div class="grid-column span-9">
                    <div class="border--bottom">
                        <h2>Problems</h2>
                    </div>
                    <table class="container pt1 pb1">
                        <tr><td>
                        <div class="grid-row border--bottom">
                            <h4 class="grid-column span-1 bold text--darkest-gray">ID</h4>
                            <h4 class="grid-column span-3 bold text--darkest-gray">Name</h4>
                            <h4 class="grid-column span-2 bold text--darkest-gray">Difficulty</h4>
                            <h4 class="grid-column span-3 bold text--darkest-gray">Tags</h4>
                        </div></td>
                        </tr>
                        {% for problem_info in problem_info_list %}
                        <tr><td><div class="grid-row border--bottom pt1 pb1">
                            <div class="grid-column span-1 bold text--darkest-gray">{{ problem_info.ID }}</div>
                            <a class="grid-column span-3 bold text--darkest-gray link"  href="/problem/{{ problem_info.ID }}">{{ problem_info.Name }}</a>
                            <div class="grid-column span-2 bold text--darkest-gray">{{ problem_info.Diff }}</div>
                            <a class="grid-column span-1 bold text--darkest-gray link" href="">{{ problem_info.Tag1 }}</a>
                            <a class="grid-column span-1 bold text--darkest-gray link" href="">{{ problem_info.Tag2 }}</a>
                            <a class="grid-column span-1 bold text--darkest-gray link" href="">{{ problem_info.Tag3 }}</a>
                        </div></td></tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="grid-column span-3">
                    <div class="border--bottom">
                        <h2>One Word</h2>
                    </div>
                    <label class="italic text--gray mb1 pt1">"Loneliness is deadly poison"</label><br>
                    <label class="bold">- Horo, </label><label class="bold italic">Spice and Wolf</label>
                </div>
            </div>
        </div>
        
        <main>
            <!-- Feature list -->
            <div class="container pt3 mt2 text--gray align--center">
                <p class="mb3">A problem sharing platform. Made by oshi_no_compiler group.</p>
            </div>
        </main>
    
    </body>
</html>
