{% load static %}
<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Problem Detail</title>
        <base href="/">
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="/static/css/production.css">

        <!-- Web fonts -->
        <link href="/static/css/font1.css" rel="stylesheet">


        <style>
            .divCss{
                margin-bottom: 10px;
            }
            .olCss{
                padding-left: 20px;
                margin-top: 0px;
                margin-bottom: 0px;
                margin-left: 40px;
            }
            .inputClass {
                float:left;
                margin-left: -50px;
            }
            .form-wfy {
                background-image: none;
                border: 1px solid transparent;
                border-radius: 7px;
                color: #262b3a;
                display: inline-block;
                font-family: Montserrat, Avenir, "Avenir Next", Trebuchet, Verdana, sans-serif;
                font-size: 1rem;
                line-height: 1.6rem;
                max-width: 100%;
                padding: .65rem .8rem .55rem;
                width: 50%;
                -moz-osx-font-smoothing: grayscale
            }
        </style>
    </head>


    <header class="fixed">
        <nav class="align--center pt1 pb1 pl1 pr1" style="background-color: rgb(188, 205, 222);">
            <div class="pb1"></div>
    {#            svg from : https://www.iconfont.cn/#}
            <a class="link" href="/">
                <img class="icon" src="/static/img/icon/home.svg" >
                <h6 class="text--darkest-gray" style="font-size:12px">ProShare</h6>
            </a>
            <div class="border--top mb1"></div>
            <a class="link " href="/problem">
                <img class="icon" src="/static/img/icon/search_file.svg" >
                <h6 class="text--darkest-gray" style="font-size:12px;">Search</h6>
            </a>
            <a class="link " href="/problem/set">
                <img class="icon" src="/static/img/icon/zip.svg" >
                <h6 class="text--darkest-gray" style="font-size:12px;">Sets</h6>
            </a>
            <a class="link" href="/problem/create">
                <img class="icon" src="/static/img/icon/add_file.svg" >
                <h6 class="text--darkest-gray" style="font-size:12px;">Create</h6>
            </a>
            <div class="border--top mb1"></div>
            <a class="link" href="/account/group/search">
                <img class="icon" src="/static/img/icon/group.svg" >
                <h6 class="text--darkest-gray">Group</h6>
            </a>
            <a class="link" href="/account/">
                <img class="icon" src="/static/img/icon/setting.svg" >
                <h6 class="text--darkest-gray">Account</h6>
            </a>
            <div class="border--top mb1"></div>
            <div class="pt1 pb2">
                {% if user.is_authenticated %}
                    <p class="text--darkest-gray"style="font-weight:800">Hello,</p>
                    <a class="italic text--darkest-gray link"style="font-weight:800" href="/account">{{ user.username }}</a>
                {% else %}
                    <a class="text--darkest-gray link"style="font-weight:800" href="/account/login">Login</a>
                {% endif %}
            </div>
            <div class="border--top mb1"></div>
            <a class="link" href="/admin">
                <img class="icon" src="/static/img/icon/wrench.svg" >
                <h6 class="text--darkest-gray">Admin</h6>
            </a>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
        </nav>
    </header>
    <body class="has-animations">

        {% comment %} <script>
            function createNode() {
                var element = document.createElement("input");
                element.setAttribute("type", "text");
                element.setAttribute("class", "inputClass");
                element.setAttribute("name", "choice");
                element.setAttribute("placeholder", "choice");
                element.setAttribute("id", "choice");
                document.getElementById("edit_div").appendChild(element);
            }
            function deleteNode() {
                var element = document.getElementById("choice");
                element.parentNode.removeChild(element);
            }
        </script> {% endcomment %}

        <div class="container--lg pt1 pb3">
        <h2 class="text--gray pb1">{{ problem_info.Name }}</h2>
        </div>

        <div class="container pt1 pb1">
            <form action="" method="POST" class="pt1"  id="userForm" enctype="multipart/form-data">
            <div class="">
                <div class="">
                    <div class="">
                        <h2>Create Problem</h2>
                    </div>
                    {% comment %} <form action="" method="POST" class="pt1"  id="userForm1"> {% endcomment %}
                        <div class="select mb1">
                            <select id="upload-type"  onchange="showFileUploader()" name="create_type">
                                <option selected="selected" value="edit-online">Create with Online editor</option>
                                <option value="upload-file">Upload problem file</option>
                            </select>
                        </div>
                    {% comment %} </form> {% endcomment %}
                    <div id="edit--question--online" style="display: block;">
                    {% comment %} <form action="" method="POST" class="pt1" id="userForm2"> {% endcomment %}
                        <label>
                            <input id="question_title" type="question_title" name="question_title" placeholder="question title" class="form-control" value="New Question"/>
                        </label>
                        <label>
                            <input id="question_description" type="question_description" name="question_description" placeholder="question description" class="form-control" />
                            {% comment %} <div id="question_description" class="form-control bg--white" contenteditable="true" name="question_description">Please enter question description here.</div> {% endcomment %}
                        </label>
                        <label>
                        <p class="text--gray pt2 pb1 italic">(Select the problem type from below.)</p>
                        <div class="select mb1 pt1">
                            <select id="question-type"  onchange="showQuestionEditor()" name="question_type">
                                <option selected="selected" value="single-choice">Single Answer</option>
                                <option value="multiple-choice">Multiple Answer</option>
                                <option value="fill-blank">Fill the blank</option>
                            </select>
                        </div>
                        </label>
                        <p class="text--gray pt2 pb1 italic">(Select the difficulty.)</p>
                        <label>
                            <div class="select mb1">
                                <select id="question-diff" name="question_diff">
                                    <option selected="selected" value="easy">Easy</option>
                                    <option value="medium">Medium</option>
                                    <option value="hard">Hard</option>
                                    <option value="expert">Expert</option>
                                    <option value="master">Master</option>
                                    <option value="re_master">Re:Master</option>
                                </select>
                            </div>
                            </label>
                        <div id="single-choice-editor" style="display: block;">
                            <p class="text--gray pt2 pb1 italic">(Choose the only right answer)</p>
                            <div class="grid--row">
                                <input id="choiceA1button" class="" type="radio" name="place" value="A"/>
                                <input type="choice" name="options" id="choiceA1" placeholder="choice A" class="form-wfy" />
                            </div>
                            <div class="grid--row">
                                <input id="choiceB1button" class="" type="radio" name="place" value="B"/>
                                <input type="choice" name="options" id="choiceB1" placeholder="choice B" class="form-wfy" />
                            </div>
                            <div class="grid--row">
                                <input id="choiceC1button" class="" type="radio" name="place" value="C"/>
                                <input type="choice" name="options" id="choiceC1" placeholder="choice C" class="form-wfy" />
                            </div>
                            <div class="grid--row">
                                <input id="choiceD1button" class="" type="radio" name="place" value="D"/>
                                <input type="choice" name="options" id="choiceD1" placeholder="choice D" class="form-wfy" />
                            </div>
                        </div>
                        <div id="multiple-choice-editor" style="display: none;">
                            <p class="text--gray pt2 pb1 italic">(Choose all the right answers)</p>
                            <div class="grid--row">
                                <input id="choiceA2button" class="" type="checkbox" name="place" value="A"/>
                                <input type="choice" name="options" id="choiceA2" placeholder="choice A" class="form-wfy" />
                            </div>
                            <div class="grid--row">
                                <input id="choiceB2button" class="" type="checkbox" name="place" value="B"/>
                                <input type="choice" name="options" id="choiceB2" placeholder="choice B" class="form-wfy" />
                            </div>
                            <div class="grid--row">
                                <input id="choiceC2button" class="" type="checkbox" name="place" value="C"/>
                                <input type="choice" name="options" id="choiceC2" placeholder="choice C" class="form-wfy" />
                            </div>
                            <div class="grid--row">
                                <input id="choiceD2button" class="" type="checkbox" name="place" value="D"/>
                                <input type="choice" name="options" id="choiceD2" placeholder="choice D" class="form-wfy" />
                            </div>
                        </div>
                        <div id="fill-blank-editor" style="display: none;">
                            <p class="text--gray pt2 pb1 italic">(Input the right answer)</p>
                            <input id="question_answer" type="question_answer" name="question_answer" placeholder="The answer to the question." class="form-control"/>
                        </div>
                        <p class="text--gray pt2 pb1 italic">(Choose the tags for this problem or leave as none)</p>
                        <div class="grid-row">
                            <div class="grid-column">
                                <div class="select mb1">
                                    <select name="tag1">
                                        <option selected="selected" value="none">No Tag</option>
                                        {% for tag in tag_list %}
                                        <option value="{{ tag }}">{{ tag }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="grid-column">
                                <div class="select mb1">
                                    <select name="tag2">
                                        <option selected="selected" value="none">No Tag</option>
                                        {% for tag in tag_list %}
                                        <option value="{{ tag }}">{{ tag }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="grid-column">
                                <div class="select mb1">
                                    <select name="tag3">
                                        <option selected="selected" value="none">No Tag</option>
                                        {% for tag in tag_list %}
                                        <option value="{{ tag }}">{{ tag }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="pt3">
                            <button type="button" class="btn btn--outline" onclick="submitForm()">Submit</button>
                        </div>
                    {% comment %} </form> {% endcomment %}
                    </div>
                    <div id="upload--question" style="display: none;">
                    {% comment %} below is a div containing text introducing file restrictions WRITTEN BY COPILOT {% endcomment %}
                    <div>
                        <p class="text--gray pt2 pb1 italic">File restrictions:</p>
                        <ol class="olCss">
                            <li>File size should be less than 10MB.</li>
                            <li>File type should be .txt or .md.</li>
                            <li>File name should be in the format of "problem_name.txt" or "problem_name.md".</li>
                        </ol>
                        <p class="text--gray pt2 pb1 italic">Content restrictions:</p>
                        {% comment %} 
                        example content:
                        Title:q1_1
                        Description:Which Python operator is used to perform logical AND operation on two values?
                        Difficulty:0
                        Type:0
                        Options:A.and B.or C.not D.if
                        Answer:A
                        Tags:python basic programming
                        {% endcomment %}
                        <ol class="olCss">
                            <li>Each choice problem should contain 7 lines.</li>
                            <li>First line should be "Title:problem_name".</li>
                            <li>Second line should be "Description:problem_description".</li>
                            <li>Third line should be "Difficulty:problem_difficulty".</li>
                            <li>Fourth line should be "Type:problem_type".</li>
                            <li>Fifth line should be "Options:A.choice B.choice C.choice D.choice".</li>
                            <li>Sixth line should be "Answer:answer", in the format of "A" or "BD".</li>
                            <li>Seventh line should be "Tags:tag1 tag2 ...".</li>
                            <li>And for fill-in-blank problem there's no option line.</li>
                            {% comment %} <li>Seventh line should be "Tag1:tag1".</li>
                            <li>Eighth line should be "Tag2:tag2".</li>
                            <li>Ninth line should be "Tag3:tag3".</li> {% endcomment %}
                        </ol>
                        <p class="text--gray pt2 pb1 italic">Example:</p>
                        <ol class="olCss">
                            <li>Title:q1_1</li>
                            <li>Description:Which Python operator is used to perform logical AND operation on two values?</li>
                            <li>Difficulty:0</li>
                            <li>Type:0</li>
                            <li>Options:A.and B.or C.not D.if</li>
                            <li>Answer:A</li>
                            <li>Tags:python basic programming</li>
                            <li></li>
                            <li>Title:q1_12</li>
                            <li>Description:Within a Python function, global variables can be defined using the keyword ______.</li>
                            <li>Difficulty:0</li>
                            <li>Type:2</li>
                            <li>Answer:global</li>
                            <li>Tags:python basic programming</li>
                            <li></li>
                        </ol>
                    </div>
                    {% comment %} <form action="" method="post" enctype="multipart/form-data" id="userForm3"> {% endcomment %}
                        <input type="file" name="files" class="pt1 pb1">
                        <button type="submit" class="btn btn--outline">Upload</button>
                    {% comment %} </form> {% endcomment %}
                    </div>
                </div>
            </div>
            </form>
        </div>

        <script>
            function showQuestionEditor() {
                var select = document.getElementById("question-type");
                var selectedValue = select.options[select.selectedIndex].value;

                var singleChoiceEditor = document.getElementById("single-choice-editor");
                var multipleChoiceEditor = document.getElementById("multiple-choice-editor");
                var fillBlankEditor = document.getElementById("fill-blank-editor");

                if (selectedValue === "single-choice") {
                    singleChoiceEditor.style.display = "block";
                    multipleChoiceEditor.style.display = "none";
                    fillBlankEditor.style.display = "none";
                } else if (selectedValue === "multiple-choice") {
                    singleChoiceEditor.style.display = "none";
                    multipleChoiceEditor.style.display = "block";
                    fillBlankEditor.style.display = "none";
                } else if (selectedValue === "fill-blank") {
                    singleChoiceEditor.style.display = "none";
                    multipleChoiceEditor.style.display = "none";
                    fillBlankEditor.style.display = "block";
                }
            }
            function showFileUploader() {
                var select = document.getElementById("upload-type");
                var selectedValue = select.options[select.selectedIndex].value;

                var editQuestionOnline = document.getElementById("edit--question--online");
                var uploadQuestion = document.getElementById("upload--question");

                if (selectedValue == "edit-online") {
                    editQuestionOnline.style.display = "block";
                    uploadQuestion.style.display = "none";
                } else if (selectedValue == "upload-file") {
                    editQuestionOnline.style.display = "none";
                    uploadQuestion.style.display = "block";
                }
            }
            function submitForm() {
                var select = document.getElementById("question-type");
                var selectedValue = select.options[select.selectedIndex].value;

                var titleValue = document.getElementById('question_title').value;
                var descriptionValue = document.getElementById('question_description').value;

                if (selectedValue === "single-choice") {
                    var inputA1Value = document.getElementById('choiceA1').value;
                    var inputB1Value = document.getElementById('choiceB1').value;
                    var inputC1Value = document.getElementById('choiceC1').value;
                    var inputD1Value = document.getElementById('choiceD1').value;
                    var singleChoiceA = document.getElementById("choiceA1button");
                    var singleChoiceB = document.getElementById("choiceB1button");
                    var singleChoiceC = document.getElementById("choiceC1button");
                    var singleChoiceD = document.getElementById("choiceD1button");
                    if (inputA1Value == '' || inputB1Value == '' || inputC1Value == '' ||
                        inputD1Value == '' || titleValue == '' || descriptionValue == '') {
                        alert('Please input all choices!');
                    } else if (singleChoiceA.checked == false && singleChoiceB.checked == false &&
                               singleChoiceC.checked == false && singleChoiceD.checked == false) {
                        alert('Please choose the right answer!');
                    } else {
                        document.getElementById('userForm').submit();
                    }
                } else if (selectedValue === "multiple-choice") {
                    var inputA2Value = document.getElementById('choiceA2').value;
                    var inputB2Value = document.getElementById('choiceB2').value;
                    var inputC2Value = document.getElementById('choiceC2').value;
                    var inputD2Value = document.getElementById('choiceD2').value;
                    var multipleChoiceA = document.getElementById("choiceA2button");
                    var multipleChoiceB = document.getElementById("choiceB2button");
                    var multipleChoiceC = document.getElementById("choiceC2button");
                    var multipleChoiceD = document.getElementById("choiceD2button");
                    if (inputA2Value == '' || inputB2Value == '' || inputC2Value == '' ||
                        inputD2Value == '' || titleValue == '' || descriptionValue == '') {
                        alert('Please input all choices!');
                    } else if (multipleChoiceA.checked == false && multipleChoiceB.checked == false &&
                               multipleChoiceC.checked == false && multipleChoiceD.checked == false) {
                        alert('Please choose at least one right answer!');
                    } else {
                        document.getElementById('userForm').submit();
                    }
                } else if (selectedValue === "fill-blank") {
                    var answerValue = document.getElementById('question_answer').value;
                    if (answerValue == '' || titleValue == '' || descriptionValue == '') {
                        alert('Please input answer!');
                    } else {
                        document.getElementById('userForm').submit();
                    }
                }
            }
        </script>
        
        <main>
            <!-- Feature list -->
            <div class="container pt3 mt2 text--gray align--center">
                <p class="mb3">A problem sharing platform. Made by oshi_no_compiler group.</p>
            </div>
        </main>

        {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
        {% endif %}
    
    </body>
</html>
