{% load static %}
<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Select Problem</title>
        <base href="/">
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="/static/css/production.css">

        <!-- Web fonts -->
        <link href="/static/css/font1.css" rel="stylesheet">

    </head>


    <header class="fixed">
        <nav class="align--center pt1 pb1 pl1 pr1" style="background-color: rgb(188, 205, 222);">
            <div class="pb1"></div>
    {#            svg from : https://www.iconfont.cn/#}
            <a class="link" href="/">
                <img class="icon" src="/static/img/icon/home.svg" >
                <h6 class="text--darkest-gray" style="font-size:12px">ProShare</h6>
            </a>
            <div class="border--top mb1"></div>
            <a class="link " href="/problem">
                <img class="icon" src="/static/img/icon/search_file.svg" >
                <h6 class="text--darkest-gray" style="font-size:12px;">Search</h6>
            </a>
            <a class="link" href="/problem/create">
                <img class="icon" src="/static/img/icon/add_file.svg" >
                <h6 class="text--darkest-gray" style="font-size:12px;">Create</h6>
            </a>
            <div class="border--top mb1"></div>
            <a class="link" href="/account/group/search">
                <img class="icon" src="/static/img/icon/group.svg" >
                <h6 class="text--darkest-gray">Group</h6>
            </a>
            <a class="link" href="/account/">
                <img class="icon" src="/static/img/icon/setting.svg" >
                <h6 class="text--darkest-gray">Account</h6>
            </a>
            <div class="border--top mb1"></div>
            <div class="pt1 pb2">
                {% if user.is_authenticated %}
                    <p class="text--darkest-gray"style="font-weight:800">Hello,</p>
                    <a class="italic text--darkest-gray link"style="font-weight:800" href="/account">{{ user.username }}</a>
                {% else %}
                    <a class="text--darkest-gray link"style="font-weight:800" href="/account/login">Login</a>
                {% endif %}
            </div>
            <div class="border--top mb1"></div>
            <a class="link" href="/admin">
                <img class="icon" src="/static/img/icon/wrench.svg" >
                <h6 class="text--darkest-gray">Admin</h6>
            </a>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
        </nav>
    </header>
    <body class="has-animations">
        <div class="pt4"></div>

        <div class="container pt3 pb3">
        <h2 class="text--gray pb1 border--bottom">Problem Set</h2>
        </div>

        <form action="" method="POST" class="">
        <div class="container pb1">
            <div class="grid-row">
                <div class="grid-column span-8">
                    <h4 class="bold text--darkest-gray">Set Name:</h4>
                </div>
            </div>
            <div class="grid-row">
                <div class="grid-column">
                    <input class="form-control" placeholder="Enter the group name" name="name" value="{{ name }}">
                </div>
            </div>
            <div class="grid-row pt1">
                <div class="grid-column span-8">
                    <h4 class="bold text--darkest-gray">Choose the type of this question set:</h4>
                </div>
                <div class="grid-column span-4">
                    <div class="select mb1">
                        <select name="set_type">
                            {% if isPublic %}
                            <option selected="selected" value="public">Public</option>
                            <option value="private">Private</option>
                            {% else %}
                            <option value="public">Public</option>
                            <option selected="selected" value="private">Private</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="grid-row pt1">
                <div class="grid-column span-8">
                    <h4 class="bold text--darkest-gray">Questions in this set: </h4>
                </div>
                <div class="grid-column span-2"></div>
                <div class="grid-column span-1">
                    <button class="btn btn--outline" type="submit" name="add">Add</button>
                </div>
            </div>
        </div>

        <table class="container border--top pt1 pb1">
            <tr><td>
            <div class="grid-row border--bottom">
                <h4 class="grid-column span-1 bold text--darkest-gray">ID</h4>
                <h4 class="grid-column span-3 bold text--darkest-gray">Name</h4>
                <h4 class="grid-column span-2 bold text--darkest-gray">Difficulty</h4>
                <h4 class="grid-column span-3 bold text--darkest-gray">Tags</h4>
                <div class="grid-column span-1 bold text--darkest-gray"></div>
                <h4 class="grid-column span-1 bold text--darkest-gray">Remove</h4>
            </div></td>
            </tr>
            {% for problem_info in problem_info_list %}
            <tr><td><div class="grid-row border--bottom pt1 pb1">
                <div class="grid-column span-1 bold text--darkest-gray">{{ problem_info.ID }}</div>
                <div class="grid-column span-3 bold text--darkest-gray">{{ problem_info.Name }}</div>
                <div class="grid-column span-2 bold text--darkest-gray">{{ problem_info.Diff }}</div>
                <div class="grid-column span-1 bold text--darkest-gray">{{ problem_info.Tag1 }}</div>
                <div class="grid-column span-1 bold text--darkest-gray">{{ problem_info.Tag2 }}</div>
                <div class="grid-column span-1 bold text--darkest-gray">{{ problem_info.Tag3 }}</div>
                <div class="grid-column span-1 bold text--darkest-gray"></div>
                <button class="grid-column span-1 bold text--darkest-gray btn btn--outline btn--sm link" type="submit" name="button{{ problem_info.ID }}">Remove</button>
            </div></td></tr>
            {% endfor %}
        </table>

        {% comment %} a button to confirm {% endcomment %}
        <div class="container pt2 pb2">
            <div class="grid-row">
                <div class="grid-column span-2">
                    <button type="submit" class="btn btn--outline" name="confirm">Confirm</button>
                </div>
            </div>
        </div>
        </form>

        <script>
            function showFilters() {
                var filterSet = document.getElementById("filter-set");
                var filter = document.getElementById("filter");
                if (filterSet.value == "yes") {
                    filter.style.display = "block";
                } else {
                    filter.style.display = "none";
                }
            }
        </script>

    </body>
</html>
