{% load static %}
<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Problem Detail</title>
        <base href="/">
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="/static/css/production.css">

        <!-- Web fonts -->
        <link href="/static/css/font1.css" rel="stylesheet">


        <style>
            .divCss{
                margin-bottom: 10px;
            }
            .olCss{
                padding-left: 20px;
                margin-top: 0px;
                margin-bottom: 0px;
                margin-left: 40px;
            }
            .inputClass {
                float:left;
                margin-left: -50px;
            }
            .liRight {
                
            }
        </style>
    </head>


    <header class="fixed">
        <nav class="align--center pt1 pb1 pl1 pr1" style="background-color: rgb(188, 205, 222);">
            <div class="pb1"></div>
    {#            svg from : https://www.iconfont.cn/#}
            <a class="link" href="/">
                <img class="icon" src="/static/img/icon/home.svg" >
                <h6 class="text--darkest-gray" style="font-size:12px">ProShare</h6>
            </a>
            <div class="border--top mb1"></div>
            <a class="link " href="/problem">
                <img class="icon" src="/static/img/icon/search_file.svg" >
                <h6 class="text--darkest-gray" style="font-size:12px;">Search</h6>
            </a>
            <a class="link" href="/problem/create">
                <img class="icon" src="/static/img/icon/add_file.svg" >
                <h6 class="text--darkest-gray" style="font-size:12px;">Create</h6>
            </a>
            <div class="border--top mb1"></div>
            <a class="link" href="/account/group/search">
                <img class="icon" src="/static/img/icon/group.svg" >
                <h6 class="text--darkest-gray">Group</h6>
            </a>
            <a class="link" href="/account/">
                <img class="icon" src="/static/img/icon/setting.svg" >
                <h6 class="text--darkest-gray">Account</h6>
            </a>
            <div class="border--top mb1"></div>
            <div class="pt1 pb2">
                {% if user.is_authenticated %}
                    <p class="text--darkest-gray"style="font-weight:800">Hello,</p>
                    <a class="italic text--darkest-gray link"style="font-weight:800" href="/account">{{ user.username }}</a>
                {% else %}
                    <a class="text--darkest-gray link"style="font-weight:800" href="/account/login">Login</a>
                {% endif %}
            </div>
            <div class="border--top mb1"></div>
            <a class="link" href="/admin">
                <img class="icon" src="/static/img/icon/wrench.svg" >
                <h6 class="text--darkest-gray">Admin</h6>
            </a>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
        </nav>
    </header>
    <body class="has-animations">

        <form action="" method="POST" class="">
        <div class="container--lg pt3 pb3">
            <div class="grid-row">
                <div class="grid-column span-11">
                    <h2 class="text--gray pb1">{{ name }}</h2>
                </div>
                <div class="grid-column span-1">
                </div>
            </div>
            <div class="grid-row">
                <div class="grid-column span-9">
                </div>
                <div class="grid-column span-1">
                    {% if modify %}
                    <button class="btn btn--outline" type="submit" name="modify">Modify</button>
                    {% endif %}
                </div>
            </div>
        </div>
        </form>
        

        <div class="container--lg pt1 pb1">
            <form action="" method="POST" class="">
            {% if problem_info_list %}
            {% for problem_info in problem_info_list %}
            <div class="grid-row pt4">
                <div class="grid-column">
                </div>
            </div>
            <div class="grid-row grid-row--top border--top pb1 pt1">
                <div class="grid-column span-9">
                    <div class="">
                        <h3>{{ problem_info.Name }}</h3>
                    </div>
                    <div class="pb1">
                        <p class="pt1">{{ problem_info.Description }}</p>
                    </div>
                    {% if problem_info.Type == "single-choice" %}
                    <div class="">
                        <ol type="A" start="" class="" >
                        {% for option in problem_info.Options %}
                            <div class="grid-row">
                            <input class="grid-column-left span-1" type="radio" name="choice{{ problem_info.ID }}" value="{{ option }}" />
                            <div class="grid-column-left span-1"></div>
                            <li class="grid-column-left span-10">{{ option }}</li>
                            </div>
                        {% endfor %}
                        </ol>
                    </div>
                    {% endif %}
                    {% if problem_info.Type == "multiple-choice" %}
                    <div class="">
                        <ol type="A" start="" class="" >
                            {% for option in problem_info.Options %}
                            <div class="grid-row">
                            <input class="grid-column-left span-1" type="checkbox" name="choice{{ problem_info.ID }}" value="{{ option }}" />
                            <div class="grid-column-left span-1"></div>
                            <li class="grid-column-left span-10">{{ option }}</li>
                            </div>
                            {% endfor %}
                        </ol>
                    </div>
                    {% endif %}
                    {% if problem_info.Type == "fill-blank" %}
                    <label>
                        <input type="answer" name="answer{{ problem_info.ID }}" placeholder="Your Answer" class="form-control">
                    </label>
                    {% endif %}
                </div>

                
                <div class="grid-column span-3">
                    <div class="border--bottom">
                        <h2>Statistics</h2>
                    </div>
                    <p class="pt1">
                        <span class="text--gray bold">ID: </span>
                        <span class="text--gray">{{ problem_info.ID }}</span>
                    </p>
                    <p class="pt1">
                        <span class="text--gray bold">Upload Date: </span>
                        <span class="text--gray">{{ problem_info.Time }}</span>
                    </p>
                    <p class="pt1">
                        <span class="text--gray bold">Uploader: </span>
                        <span class="text--gray">{{ problem_info.Uploader }}</span>
                    </p>
                    <p class="pt1">
                        <span class="text--gray bold">Type: </span>
                        {% if problem_info.Type == "single-choice" %}
                        <span class="text--gray">Single Choice</span>
                        {% endif %}
                        {% if problem_info.Type == "multiple-choice" %}
                        <span class="text--gray">Multiple Choice</span>
                        {% endif %}
                        {% if problem_info.Type == "fill-blank" %}
                        <span class="text--gray">Fill in the blank</span>
                        {% endif %}
                    </p>
                    <p class="pt1">
                        <span class="text--gray bold">Submit: </span>
                        <span class="text--gray">{{ problem_info.Submit }}</span>
                    </p>
                    <p class="pt1">
                        <span class="text--gray bold">Passed: </span>
                        <span class="text--gray">{{ problem_info.Passed }}</span>
                    </p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="grid-row pt1 pb1">
                <div class="grid-column">
                    <p class="text--gray">No problem is currently in this set.</p>
                </div>
            </div>
            {% endif %}
            <div style="text-align: center" class="pt2">
                <button type="submit" class="btn btn--outline" name="submit">Submit</button>
            </div>
            <form action="" method="POST" class="pt1">
        </div>
        
        <main>
            <!-- Feature list -->
            <div class="container pt3 mt2 text--gray align--center">
                <p class="mb3">A problem sharing platform. Made by oshi_no_compiler group.</p>
            </div>
        </main>
    
    </body>
</html>
