{% load static %}
<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Problem Sets</title>
        <base href="/">
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="/static/css/production.css">

        <!-- Web fonts -->
        <link href="/static/css/font1.css" rel="stylesheet">

    </head>


    <header class="fixed">
        <nav class="align--center pt1 pb1 pl1 pr1" style="background-color: rgb(188, 205, 222);">
            <div class="pb1"></div>
    {#            svg from : https://www.iconfont.cn/#}
            <a class="link" href="/">
                <img class="icon" src="/static/img/icon/home.svg" >
                <h6 class="text--darkest-gray" style="font-size:12px">ProShare</h6>
            </a>
            <div class="border--top mb1"></div>
            <a class="link " href="/problem">
                <img class="icon" src="/static/img/icon/search_file.svg" >
                <h6 class="text--darkest-gray" style="font-size:12px;">Search</h6>
            </a>
            <a class="link" href="/problem/create">
                <img class="icon" src="/static/img/icon/add_file.svg" >
                <h6 class="text--darkest-gray" style="font-size:12px;">Create</h6>
            </a>
            <div class="border--top mb1"></div>
            <a class="link" href="/account/group/search">
                <img class="icon" src="/static/img/icon/group.svg" >
                <h6 class="text--darkest-gray">Group</h6>
            </a>
            <a class="link" href="/account/">
                <img class="icon" src="/static/img/icon/setting.svg" >
                <h6 class="text--darkest-gray">Account</h6>
            </a>
            <div class="border--top mb1"></div>
            <div class="pt1 pb2">
                {% if user.is_authenticated %}
                    <p class="text--darkest-gray"style="font-weight:800">Hello,</p>
                    <a class="italic text--darkest-gray link"style="font-weight:800" href="/account">{{ user.username }}</a>
                {% else %}
                    <a class="text--darkest-gray link"style="font-weight:800" href="/account/login">Login</a>
                {% endif %}
            </div>
            <div class="border--top mb1"></div>
            <a class="link" href="/admin">
                <img class="icon" src="/static/img/icon/wrench.svg" >
                <h6 class="text--darkest-gray">Admin</h6>
            </a>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
            <div class="pt4 pb4"></div>
        </nav>
    </header>
    <body class="has-animations">
        <div class="pt4"></div>

        <div class="container pt3 pb1">
        <h2 class="text--gray pb1 border--bottom">Problem Sets</h2>
        <div class="pt1 pb1">
            <a type="submit" href="/problem/set/create/">create a new one.</a>
        </div>
        </div>

        <div class="pt1"></div>

        <form action="" method="POST" class="">
            <div class="container">
                <div class="grid-row">
                    <div class="grid-column span-10">
                        <label>
                            <input type="text" class="form-control" placeholder="Enter your search message" name="search_info">
                        </label>
                    </div>
                    <div class="grid-column span-2">
                        <button type="submit" class="btn btn--outline" name="search">Search</button>
                    </div>
                </div>
                <div class="grid-row pt1 pb2">
                    <div class="grid-column">
                        <p> Search By:</p>
                    </div>
                    <div class="grid-column">
                        <input type="checkbox" id="search-name" name="filter" value="name" checked>
                        <label>Name</label>
                    </div>
                    <div class="grid-column">
                        <input type="checkbox" id="search-creator" name="filter" value="creator">
                        <label>Creator</label>
                    </div>
                    <div class="grid-column">
                        <input type="checkbox" id="search-owner" name="filter" value="owner">
                        <label>Owner</label>
                    </div>
                </div>
            </div>
        </form>

         {% comment %} {% for ps in problem_set_list %}
             <a>{{ ps.id }} {{ ps.name }} {{ ps.created_by }} {{ ps.belongs_to }}</a>
             <button name="problem_set_detail" value="{{ ps.id }}">Detail</button>
         {% endfor %} {% endcomment %}

         <table class="container border--top pt1 pb1">
            <tr><td>
            <div class="grid-row border--bottom">
                <h4 class="grid-column span-2 bold text--darkest-gray">ID</h4>
                <h4 class="grid-column span-4 bold text--darkest-gray">Name</h4>
                <h4 class="grid-column span-1 bold text--darkest-gray">Creator</h4>
                <h4 class="grid-column span-1 bold text--darkest-gray">Owner</h4>
                <h4 class="grid-column span-3 bold text--darkest-gray">Click For Detail</h4>
            </div></td>
            </tr>
            {% for ps in problem_set_list %}
            <tr><td><div class="grid-row border--bottom pt1 pb1">
                <div class="grid-column span-2 bold text--darkest-gray">{{ ps.id }}</div>
                <div class="grid-column span-4 bold text--darkest-gray">{{ ps.name }}</div>
                <div class="grid-column span-1 bold text--darkest-gray">{{ ps.created_by }}</div>
                <div class="grid-column span-1 bold text--darkest-gray">
                    {% if ps.belongs_to %}
                    {{ ps.belongs_to }}
                    {% else %}
                    public
                    {%  endif %}
                </div>
                <a class="grid-column span-1 bold text--darkest-gray btn btn--outline btn--sm link" href="/problem/set/{{ ps.id }}">Exercise</a>
            </div></td></tr>
            {% endfor %}
        </table>


    </body>
</html>
